* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Highlight: #FF57B2;
  --Heading: #F8F8F8;
  --Body: #D7D7D7;
  --Info: #BBBBBB;
  --Background: #1A1D23;
}

body {
  background-color: var(--Background);
  color: var(--Heading);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
}